<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>u-s4t2ud-be1e82d813105b04b972f62a31b7f9dc5c83a793948fcdfcf58c3023cbef8681</string>
	<key>CLIENT_SECRET</key>
	<string>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</string>
</dict>
</plist>
